.input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__field {
    background: transparent;

    border: var(--ui-size-border-1) solid var(--ui-color-border);
    border-radius: var(--ui-size-border_radius-small);
    outline: 0;

    min-height: 32px;
    min-width: 100px;

    padding: 10px 15px;

    text-overflow: ellipsis;
    transition: var(--ui-transition-speed-2);
  }

  &__label {
    position: absolute;
    display: flex;
    align-items: center;

    height: 20px;

    top: 50%;
    left: 10px;

    color: var(--ui-color-subtext);

    transform: translateY(-50%);
    padding: 0 5px;

    transition: var(--ui-transition-speed-2);
    pointer-events: none;
  }

  // Animations
  input:focus ~ &__label,
  input:valid ~ &__label {
    top: 0;
    font-size: var(--ui-font_display-font_size-tiny);
    background-color: var(--ui-color-background);
  }

  &__field:focus {
    border-color: var(--ui-color-accent-primary);
  }

  &__field:focus + &__label {
    color: var(--ui-color-accent-primary);
  }

  // &__field::placeholder {
  //     transition: all 300ms ease;
  // }

  // &__field:focus::placeholder {
  //     transform: translate(20px, 0);
  //     opacity: 0.0;
  // }
}
