// Importing Montserrat fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Reseting browser styles
*, *::before, *::after {
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: 0;
    
    list-style: none;
    text-decoration: none;
}

a, a:visited, a:hover {
    text-decoration: none;
}

a:focus, a:active {
    outline: none;
}

button, input[type="submit"] { 
    display: inline-block;
    box-shadow: none;
    background-color: transparent; 
    border: none;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
}

button {
    color: var(--light-color);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

img {
    pointer-events: none;
}

// General style settings
:root {
    --primary-color: #5510cc;
    --secondary-color: #451e88;
    --accent-color: #7638e0;
    --gradient-color: #9000c8;
    
    --light-color: #ECE7F4;
    --dark-color: #07050C;

    --dark-color-card: #101010;

    --subtext-color: #ece7f4cc;
    --form-grey-color: #ece7f480;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class*=__container] {
    max-width: 1130px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--dark-color);
    color: var(--light-color);
}

// Custom Buttons
.button {
    &_gradient {
        background: linear-gradient(var(--accent-color), var(--gradient-color));
        color: var(--light-color);
        
        font-size: 16px;
        font-weight: 700;
        padding: 15px 40px;
    }

    &_round {
        border-radius: 25px;
    }

    &_rect {
        border-radius: 10px;
    }
}