.sidebar {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 80px);
  top: 0;
  position: sticky;

  min-width: 200px;
  padding: 20px;
  margin: 20px 0px 0px 20px;
  gap: 20px;

  border: var(--ui-size-border-1) solid var(--ui-color-border-secondary);
  border-radius: var(--ui-size-border_radius-small);
  background-color: var(--ui-color-primary);

  &__header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;

    &_logo {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: var(--ui-size-icon-big);
        min-width: var(--ui-size-icon-big);
      }
    }

    &_text {
      display: flex;
      align-items: center;

      font-size: var(--ui-font_display-font_size-big);
      font-weight: var(--ui-font_display-font_weight-bold);
      line-height: var(--ui-font_display-line_height-small);

      background-image: linear-gradient(
        90deg,
        var(--ui-color-accent-primary),
        var(--ui-color-accent-secondary)
      );

      background-clip: text;

      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  &__create-group-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 20px;
    width: 100%;
    font-size: var(--ui-font_display-font_size-small);

    background-color: var(--ui-color-secondary);
    border-radius: var(--ui-size-border_radius-small);
    border: var(--ui-size-border-small) solid var(--ui-color-border-tertiary);

    svg {
      height: var(--ui-size-icon-small);
      min-width: var(--ui-size-icon-small);
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;

    &_top {
    }

    &_bottom {
      &_logout-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        border: var(--ui-size-border-1) solid var(--ui-color-error-secondary);
      }
    }
  }
}
