.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    // Hiding original checkbox
    &__input {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        z-index: 10;
        opacity: 0;
    }
    
    // Making pseudo-checkbox
    &__button {
        position: absolute;
        height: 1em;
        width: 1em;
        border: 2px solid var(--form-grey-color);
        border-radius: 5px;
        cursor: pointer;
    }

    // Handling checkbox states
    &__input:checked + &__button {
        background-repeat: no-repeat;
        background-position: center;
     
        border-color: var(--accent-color);
        background-color: var(--accent-color);
        background-image: url(../../../assets/checkbox/check.svg);
    }
    
    // There should be `disabled` checkbox handling, but
    // actually project has no cases with this option

    &__label {
        color: var(--subtext-color);
        margin-left: 1.5em;
        cursor: pointer;
    }
}