.search {
  &__input {
    padding: 10px 20px;
    height: 20px;
    border-radius: var(--ui-size-border_radius-small);
    border: var(--ui-size-border-1) solid var(--ui-color-border-secondary);
  }

  &__error {
    color: var(--ui-color-error);
  }

  &__loading {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 10px;
    gap: var(--ui-size-gap-small);
  }

  &__results {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 10px;
    gap: var(--ui-size-gap-small);
  }
}
