// Importing Montserrat fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root, [color-scheme=goald-dark] {
    // Brand colors
    --ui-color-brand-primary: #5510cc;
    --ui-color-brand-secondary: #451e88;

    --ui-color-accent-primary: #7638e0;
    --ui-color-accent-secondary: #9000c8;
    
    // Main Colors
    --ui-color-background: #07050c;
    --ui-color-primary: #101010;
    
    // Text colors
    --ui-color-text: #ece7f4;
    --ui-color-subtext: #ece7f480;

    // Icon
    --ui-size-icon: 24px;
    --ui-color-icon: #ece7f4;

    // Border
    --ui-color-border: #ece7f480;
    --ui-size-border-1: 1px;
    --ui-size-border-2: 1.5px;

    // Border Radius
    --ui-size-border_radius-tiny: 5px;
    --ui-size-border_radius-small: 10px;
    --ui-size-border_radius-medium: 10px;
    

    // Transitions
    --ui-transition-speed-1: all 0.5s linear;
    --ui-transition-speed-2: all 0.3s linear;
    --ui-transition-speed-3: all 0.15s linear;

    // Button
    --ui-color-button: #07050c;
    --ui-color-button-action: #1e1e1e;
    
    // Checkbox
    --ui-color-checkbox-checkmark: #ece7f4;
    --ui-color-checkbox-background-active: #7638e0;

    --ui-size-checkbox-hidden: 16px;
    --ui-size-checkbox-pseudo: 14px;

    // Input
    --ui-color-input-invalid: #f44336;

    // Label
    --ui-font_display-label-font_family: "Montserrat", sans-serif;
    --ui-font_display-label-font_size: 16px;
    --ui-font_display-label-font_size-minimized: 12px;
    --ui-font_display-label-line_height: 1.5;
    --ui-font_display-label-font_weight: 400;
    
    // Titles
    --ui-font_display-default-font_family: "Montserrat", sans-serif;
    --ui-font_display-default-font_size: 14px;
    --ui-font_display-default-line_height: 1.5;
    --ui-font_display-default-font_weight: 400;

	--ui-font_display-title1-font_family: "Montserrat", sans-serif;
    --ui-font_display-title1-font_size: 30px;
	--ui-font_display-title1-line_height: 0.8;
    --ui-font_display-title1-font_weight: 600;
}

// Custom Buttons
// .button {
//     &_gradient {        
//         // color: var(--subtext-color);
        
//         // border: 2px solid transparent;
//         // background-image: 
//         //     linear-gradient(var(--dark-color-card), var(--dark-color-card)), 
//         //     radial-gradient(circle at left top, var(--accent-color), var(--gradient-color));
        
//         // background-origin: border-box;
//         // background-clip: padding-box, border-box;
//         // font-size: 16px;
//         // font-weight: 400;
//         // padding: 15px 40px;

//         // transition: .2s;

//         // &:hover {
//         //     box-shadow: 0px 0px 15px var(--primary-color);
//         // }
//     }

//     &_round {
//         border-radius: 25px;
//     }

//     &_rect {
//         border-radius: 10px;
//     }
// }