.goals {
  &-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    margin: 0 0 20px 0;

    //background-color: var(--dark-color-card);
    border: 1px solid var(--dark-color-action);
    border-radius: 10px;
  }
}
