.input {
  padding: 20px;

  background-color: var(--ui-color-secondary);
  //border-radius: var(--ui-size-border_radius-small);
  border: 0;
  outline: 0;

  &:hover, &:focus {
    background-color: var(--ui-color-action);
  }
}
