.welcome {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 20px;
        padding-bottom: 20px;   
    }

    &__content_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        font-weight: 700;
    }

    &__title {
        font-size: 46px;
        line-height: 1.2;
    }

    &__description {
        line-height: 1.25;
        max-width: 550px;
        color: var(--subtext-color);
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 220px;
    }
}