.register {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 2vh;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 40px;
        background-color: var(--dark-color-card);
        padding: 8vh 15vh;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 20px;
    }

    &__title {
        font-size: 30px;
        padding-bottom: 10px;
    }

    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .placeholder {
            width: 195px
        }
    }

    &__button {
        margin-top: 15px;
    }

    &__agreement {
        margin-top: -10px;
        padding-bottom: 10px;
        color: var(--subtext-color);

        &_link {
            color: var(--accent-color);
        }
    }

    &__image {
        img {
            aspect-ratio: auto;
            width: 380px;
        }
    }
}