.header {
    display: flex;
    justify-content: right;
    align-items: center;
    
    height: 40px;
    width: 100%;

    margin: 0px auto;
    padding: 20px;

    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        
        &_avatar {
            height: 40px;
        }
    }
}