.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            aspect-ratio: auto;
            height: 24px;
        }
    }

    &__theme {
        height: 24px;
        img {
            aspect-ratio: 1;
            height: 100%;
        }
    }
}