.sidebar, .sidebar.sidebar__normal-size {
    display: flex;
    flex-direction: column;

    width: 260px;
    height: 100vh;
    background-color: var(--dark-color-card);
    border-right: 1px solid var(--dark-color-action);
    gap: 20px;

    transition: .5s;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;

        gap: 15px;
        padding: 20px 0;
        margin-left: 18px;

        user-select: none;
        overflow: hidden;
        
        &_icon {
            height: 40px;
        }
        
        &_text {
            font-size: 22px;
            font-weight: 700;
            background-image: linear-gradient(90deg, var(--accent-color), var(--gradient-color));
            background-clip: text;

            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }
    }

    &__minimize {
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: var(--dark-color-action);
        border-radius: 50px;
        
        padding: 6px;
        margin-right: -12px;

        transition-duration: .5s;
        
        cursor: pointer;
        z-index: 1;

        svg {
            width: 12px;
            height: 12px;

            stroke: var(--light-color);
            transform: rotate(90deg);
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 14px;
    }
}

.sidebar.sidebar__mini-size {
    width: 76px; // 76 px

    .sidebar__minimize {
        transform: rotate(180deg);
    }
}