html {
  max-height: 100vh;
  /*overflow: hidden;*/
}

body {
  display: none;
  height: 100%;
  font-family: 'Helvetica', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.button:hover {
  cursor: pointer;
  background-color: silver;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: silver;
}

#header {
  padding: 10px;
}

#logo {
  display: inline-block;
}

#my-account {
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #666;
  float: right;
  display: inline-flex;
  margin: 20px 20px 0 0;
}

#my-account img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#container {
  display: flex;
}

#list-container {
  display: flex;
}

.title-text {
  display: inline-block;
  margin: 0;
}

.buttons {
  float: right;
}

.grey-button {
  color: grey;
}

.grey-button:hover {
  color: black;
  cursor: pointer;
}

.alter-button {
  display: inline-block;
  margin: 0;
}

.grey {
  color: grey;
}

.list {
  height: fit-content;
}

.title {
  box-shadow: 1px 5px 10px -4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}

.list-content-container {
  overflow: auto;
}

.list-content {
  margin: 0 20px 20px 20px;
}

.list-element {
  margin: 20px auto 0 auto;
  padding: 10px;
  width: 250px;
  height: 50px;
}

.no-element {
  display: block;
  text-align: center;
}

#content {
  width: 100%;
}

.group-list-image {
  display: inline-block;
}

.group-list-image img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.group-list-info {
  display: inline-block;
  vertical-align: super;
  margin-left: 20px;
}

.group-list-info h2 {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.group-list-info p {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.goal-list-status p {
  display: inline-block;
  margin: 0;
}

#entity {
  display: flex;
}

#entity-info {
  width: 100%;
}

#group-info {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

#group-info-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

#group-info-name-container {
  padding-top: 5%;
  text-align: center;
}

#group-info-name {
  display: block;
}

#group-info-tag {
  color: grey;
}

.active-status {
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-right: 1px;
  border-radius: 50%;
  background-color: #04AA6D;
}

.notactive-status {
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-right: 1px;
  border-radius: 50%;
  background-color: #e01515;
}

#event-chat-report-choice {
  display: flex;
  justify-content: space-around;
}

.event-chat-report-option {
  display: inline-block;
  color: grey;
}



/*Modal*/
.blackout {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

h4 {
  font-weight: bold;
  color: #04AA6D;
  text-align: center;
}

.close {
  color: #6b6b6b;
  transform: scale(2.2);
  padding: 0%;
  background-color: transparent; /* Убрать фон */
  border: none; /* Убрать границу */
  position: absolute;
}

.close:hover {
  color: #494949;
  cursor: pointer;
}

.modal-content {
  font-weight: bold;
  display: none;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.form-control {
  margin: 1em 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.form-control:hover, .form-control:focus, .form-control:active {
  box-shadow: none;
  outline: none;
  border-color: #b8b8b8;
}

.lineedit {
  display: block;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #b8b8b8;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
  width: 100%;
}

.form-control::-webkit-input-placeholder {
  color: #b8b8b8;
}

.form-control:focus::-webkit-input-placeholder {
  color: #fff;
  border: none;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: none;
  color: #000000;
  border-bottom: 2px solid #b8b8b8;
  width: 100%;
}

/* /////////////// */
.select-file-button {
  width: 100%; /* Устанавливаем максимальную ширину с учетом отступов */
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: none;
  color: #b8b8b8;
  border: 2px solid #b8b8b8;
  display: block;
  width: 100%; /* Устанавливаем ширину в 100% */
  box-sizing: border-box; /* Учитываем padding и border в общей ширине */
  margin-top: 10px; /* Добавляем отступ сверху (пример: 10px) */
  padding: 5px;
}

.select-file-button:hover {
  border: 2px solid #9c9b9b;
  color: #9c9b9b;
  cursor: pointer;
}
/* /////////////// */

.select:hover, .select:focus, .select:active {
  box-shadow: none;
  outline: none;
  border-color: #b8b8b8;
}

.form-button {
  display: block;
  padding: 6px 20px;
  border-radius: 10px;
  background: none;
  border: 2px solid #04AA6D;
  color: #04AA6D;
  font-weight: bold;
  transition: all .5s;
  margin: auto;
  margin-top: 1em;
  text-align: center;

}

.form-button:hover {
  background:  #04AA6D;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
}
