.login {
    &__container {
        display: flex;
        justify-content: center;
        padding-top: 2vh;

        @media(min-width: 1105px) {
            flex-direction: column;
        }
    }

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 40px;
        background-color: var(--dark-color-card);
        padding: 5vh 15vh;

        @media(max-width: 1100px) {
            justify-content: center;
            height: 500px;
            padding: 5vh 8vh;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        min-width: 400px;
        gap: 20px;
    }

    &__title {
        display: flex;
        justify-content: left;
        font-size: 20px;
        padding-bottom: 10px;
    }

    &__support {
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
        margin-bottom: 20px;

        &_forgot {  
            color: var(--accent-color);
        }
    }

    &__no-account {
        margin-top: -10px;
        
        &_description {
            color: var(--subtext-color)
        }

        &_register {
            color: var(--accent-color);
        }
    }

    &__image {
        padding: 0 20px;
        img {
            aspect-ratio: auto;
            width: 380px;
        }

        @media(max-width: 1100px) {
            display: none;
        }
    }
}