.group-skeleton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  padding: 10px;

  &__avatar {
    margin-right: 8px;
  }

  &__overview {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 120px;

    &_field {
      flex: 1;
    }
  }
}