{% include "header.html" %}
<table border=1>
    <tr>
        <td><b>user id</b></td> 
        <td><b>goal id</b></td> 
        <td><b>goal</b></td> 
        <td><b>current value</b></td> 
        <td><b>deadline</b></td> 
        <td><b>alert period</b></td> 
    </tr>
    {% for duty in duties %}
    <tr>
        <td>{{ duty.user_id}}</td>
        <td>{{ duty.goal_id}}</td>
        <td>{{ duty.final_value}}</td>
        <td>{{ duty.current_value}}</td>
        <td>{{ duty.deadline}}</td>
        <td>{{ duty.alert_period}}</td>
    </tr>
    {% endfor %}
</table>
{% include "footer.html" %}
