<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="{% load static %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{% static 'js/source.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</head>

<body>
    <div>
        <div id="header" class="shadow">
            <div id="logo">
                <img src="/static/img/logo.png" alt="logo">
            </div>
            <div id="my-account" class="button shadow">
                <img src="/static/img/person.png" alt="icon">
                <span>{{ login }}</span>
            </div>
        </div>
        <div id="container">
            <div id="list-container">
                <div id="group-list" class="list shadow">
                    <div class="title">
                        <h2 class="title-text">Группы</h2>
                        <div class="buttons">
                            <h2 class="alter-button grey-button" onclick="openModal('groupActionWindow')">+</h2>
                            <h2 class="alter-button grey-button" onclick="openModal('deleteGroupWindow')">-</h2>
                        </div>
                    </div>
                    <div class="list-content-container">
                        <div class="list-content">
                            <div class="list-element no-element">
                                <h2 class="title-text">Нет групп</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="goal-list" class="list shadow">
                    <div class="title">
                        <h2 class="title-text">Цели</h2>
                        <div class="buttons">
                            <h2 class="alter-button grey-button" onclick="openModal('createGoalWindow')">+</h2>
                            <h2 class="alter-button grey-button" onclick="openModal('deleteGoalWindow')">-</h2>
                        </div>
                    </div>
                    <div id="list-content-container">
                        <div class="list-content">
                            <div class="list-element no-element">
                                <h2 class="title-text">Нет целей</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content">
                <div id="entity" style="display: none;">
                    <div id="entity-info" class="shadow">
                        <div class="info">
                            <div class="title">
                                <h2 class="title-text">Группа</h2>
                            </div>
                            <div id="group-info">
                                <div id="group-info-image-container">
                                    <img id="group-info-image" alt="image">
                                </div>
                                <div id="group-info-name-container">
                                    <h2 id="group-info-name" class="title-text"></h2>
                                    <h4 id="group-info-tag" class="title-text"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="info" style="display: none;">
                            <div class="title">
                                <h2 class="title-text">Цель</h2>
                            </div>
                            <div>
                                <div id="goal-info-name-container">
                                    <h2 id="goal-info-name" class="title-text">goal</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="participant-list" class="list shadow">
                        <div class="title">
                            <h2 class="title-text">Участники</h2>
                            <div class="buttons">
                                <h2 class="alter-button grey-button">+</h2>
                                <h2 class="alter-button grey-button">-</h2>
                            </div>
                        </div>
                        <div id="list-content-container">
                            <div class="list-content">
                                <div class="list-element no-element">
                                    <h2 class="title-text">Нет участников</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="event-chat-report" class="shadow">
                    <div id="event-chat-report-choice" class="title">
                        <div class="event-chat-report-option grey-button" style="color: black;">
                            <h2 class="title-text">Cобытия</h2>
                        </div>
                        <div class="event-chat-report-option grey-button">
                            <h2 class="title-text">Сообщения</h2>
                        </div>
                        <div class="event-chat-report-option grey-button">
                            <h2 class="title-text">Отчёты</h2>
                        </div>
                    </div>
                    <div id="list-content-container">
                        <div class="list-content">
                            <div class="list-element no-element">
                                <h2 class="title-text">Нет событий</h2>
                            </div>
                        </div>
                    </div>
                </div>  
            </div> 
        </div>
    </div>
    
    <!--MODELS WINDOWS-->
    <!--background blackout-->
    <div id="blackout" class="blackout"></div>

    <!--select group action window-->
    <div id="groupActionWindow" class="modal-content">
        <div class="modal-header">
            <button class="close" onclick="closeModal('groupActionWindow')">&times;</button>
        </div>
        <form>
            <input class="form-button"  value="Создать группу" onclick="openModal('createGroupWindow')" />
            <input class="form-button"  value="Вступить в группу" onclick="openModal('joinToGroupWindow')"  />
        </form>
    </div>

    <!--create group window-->
    <div id="createGroupWindow" class="modal-content">
        <div class="modal-header">
            <button class="close" onclick="closeModal('createGroupWindow')">&times;</button>
        </div>
        <h4>Создание группы</h4>
        <form>
            <input type="text" id="creategroup-name" class="lineedit form-control" placeholder="Название группы"/>
            <input type="text" id="creategroup-tag" class="lineedit form-control" placeholder="Тэг"/>
            <input type="text" id="creategroup-description" class="lineedit form-control" placeholder="Описание группы"/>
            <select name="mode" id="creategroup-mode">
                <option value="mode">Приватность</option>
                <option value="public">Публичная</option>
                <option value="private">Приватная</option>
            </select>
            <label for="avatar" class="select-file-button" style="font-weight: normal; font-size: 0.9rem;">
               Выберите аватар
            </label>
            <input id="creategroup-avatar" type="file" style="display: none;">
            {% comment %} <input type="password" name="password" class="lineedit form-control" placeholder="Парооль"/> {% endcomment %}
            <input id="createGroupButton" class="form-button"  onclick="createGroupButtonPressed()" value="Создать группу" />
        </form>
    </div>

    <!--join to group window-->
    <div id="joinToGroupWindow" class="modal-content">
        <div class="modal-header">
            <button class="close" onclick="closeModal('joinToGroupWindow')">&times;</button>
        </div>
        <h4>Вступить в группу</h4>
        <form>
            <input type="text" id="jointogroup-tag" class="lineedit form-control" placeholder="Тэг"/>
            <input id="joinToGroupButton" class="form-button"  onclick="joinToGroupButtonPressed()" value="Вступить" />
        </form>
    </div>

    <!--сreate goal-->
    <div id="createGoalWindow" class="modal-content">
        <div class="modal-header">
            <button class="close" onclick="closeModal('createGoalWindow')">&times;</button>
        </div>
        <h4>Создание цели</h4>
        <form>
            <select name="groups" id="creategoal-groups">
                <option value="mode">Выберите группу</option>
            </select>
            <input type="text" id="creategoal-name" class="lineedit form-control" placeholder="Название цели"/>
            <input type="text" id="creategoal-sum" class="lineedit form-control" placeholder="Сумма"/>
            <input type="text" id="creategoal-deadline" class="lineedit form-control" placeholder="Дедлайн"/>
            <input type="text" id="creategoal-period" class="lineedit form-control" placeholder="Период отправки уведомлений"/>
            <input id="createGoalButton" class="form-button"  onclick="createGoalButtonPressed()" value="Создать цель" />
        </form>
    </div>

    <!--delete group-->
    <div id="deleteGroupWindow" class="modal-content">
        <div class="modal-header">
            <button class="close" onclick="closeModal('deleteGroupWindow')">&times;</button>
        </div>
        <h4>Вы действительно хотите удалить группу?</h4>
        <form>
            <input id="deleteGroupButton" class="form-button"  onclick="acceptDeleteGroup()" value="Да" />
        </form>
    </div>

    <!--delete goal-->
    <div id="deleteGoalWindow" class="modal-content">
        <div class="modal-header">
            <button class="close" onclick="closeModal('deleteGoalWindow')">&times;</button>
        </div>
        <h4>Вы действительно хотите удалить цель?</h4>
        <form>
            <input id="deleteGoalButton" class="form-button"  onclick="acceptDeleteGoal()" value="Да" />
        </form>
    </div>
            
</body>
