<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="{% load static %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{% static 'js/source.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</head>

<body>
    <div id="header" class="shadow">
        <div id="logo">
            <img src="/static/img/logo.jpg" alt="logo">
        </div>
        <div id="my-account" class="button shadow">
            <img src="/static/img/person.png" alt="icon">
            <span>{{ login }}</span>
        </div>
    </div>
    <div id="container">
        <div id="list-container">
            <div id="group-list" class="list shadow">
                <div>
                    <h2 class="title">Группы</h2>
                    <h2 id="plus-button-group" class="plus-button" onclick="openModal()">+</h2>
                </div>
                <div id="group-list-content">
                    <div class="list-element no-element">
                        <h2 class="title">Нет групп</h2>
                    </div>
                </div>
            </div>
            <div id="goal-list" class="list shadow">
                <div>
                    <h2 id="goal-title" class="title">Цели</h2>
                    <h2 class="plus-button">+</h2>
                </div>
                <div id="goal-list-content">
                    <div class="list-element no-element">
                        <h2 class="title">Нет целей</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="entity" style="display: none;">
                <div id="entity-info" class="shadow">
                    <div>
                        <h2 id="entity-title" class="title">Группа</h2>
                    </div>
                    <div>
                        <div id="entity-info-image-container">
                            <img id="entity-info-image" alt="image">
                        </div>
                        <div id="entity-info-name-container">
                            <h2 id="entity-info-title" class="title"></h2>
                        </div>
                    </div>
                </div>
                <div id="participant-list" class="list shadow">
                    <div>
                        <h2 id="participant-title" class="title">Участники</h2>
                        <h2 class="plus-button">+</h2>
                    </div>
                    <div id="participant-list-content">
                        <div class="list-element no-element">
                            <h2 class="title">Нет участников</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div id="event-chat-report" class="shadow">
                <div id="event-chat-report-choice">
                    <div class="event-chat-report-option" style="color: black;">
                        <h2 class="title">Cобытия</h2>
                    </div>
                    <div class="event-chat-report-option">
                        <h2 class="title">Сообщения</h2>
                    </div>
                    <div class="event-chat-report-option">
                        <h2 class="title">Отчёты</h2>
                    </div>
                </div>
            </div>  
        </div> 
    </div>
    
    <!--models windows-->
    <div id="blackout" class="blackout"></div>
    <div id="groupPlusPressed" class="modal-content">
        <div class="modal-header">
            <button class="close" onclick="closeModal('groupPlusPressed')">&times;</button>
        </div>
        <form>
            <input class="form-button"  value="Создать группу" onclick="openCreateGroupWindow()" />
            <input class="form-button"  value="Вступить в группу" />
        </form>
    </div>

    <div id="createGroupWindow" class="modal-content">
        <div class="modal-header">
            <button class="close" onclick="closeModal('createGroupWindow')">&times;</button>
        </div>
        <h4>Создание группы</h4>
        <form>
            <input type="text" name="name" class="lineedit form-control" placeholder="Название группы"/>
            <input type="text" name="tag" class="lineedit form-control" placeholder="Тэг"/>
            <input type="text" name="description" class="lineedit form-control" placeholder="Описание группы"/>
            <select name="pets" id="pet-select">
                <option value="mode">Приватность</option>
                <option value="public">Публичная</option>
                <option value="private">Приватная</option>
            </select>
            <label for="avatar" class="select-file-button" style="font-weight: normal; font-size: 0.9rem;">
               Выберите аватар
            </label>
            <input id="avatar" type="file" style="display: none;">
            
            {% comment %} <input type="password" name="password" class="lineedit form-control" placeholder="Парооль"/> {% endcomment %}
            <input class="form-button"  value="Создать группу" />
        </form>
    </div>

    <script>
        function setBlackout() {
            var blackout = document.getElementById('blackout');
            blackout.style.display = 'block';
        }

        function removeBlackout() {
            var blackout = document.getElementById('blackout');
            blackout.style.display = 'none';
        }

        function openModal() {
            var modal = document.getElementById('groupPlusPressed');
            modal.style.display = 'block';
            setBlackout();
        }
        
        function closeModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = 'none';
            removeBlackout();
        }

        function openCreateGroupWindow() {
            closeModal('groupPlusPressed');
            document.getElementById('groupPlusPressed').style.display = 'none';
            var modal = document.getElementById('createGroupWindow');
            modal.style.display = 'block';
            setBlackout();
        }
    </script>
</body>
