.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;
  gap: 10px;

  transition: var(--ui-transition-speed-3);
  border-radius: var(--ui-size-border_radius-small);

  color: var(--ui-color-text);

  svg {
    width: var(--ui-size-icon-normal);
    height: var(--ui-size-icon-normal);

    path {
      stroke: var(--ui-color-button-icon);
    }
  }

  &:hover {
    background-color: var(--ui-color-action);
  }
}
