.group-content {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  grid-template-areas:
    "Goals Goals Info"
    "Actions Reports Info";

  @media (min-width: 1460px) {
    grid-template-rows: 50vh 30vh;
  }

  @media (max-width: 1460px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "Info"
      "Goals"
      "Actions"
      "Reports";
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__goals {
    grid-area: Goals;
  }

  &__actions {
    grid-area: Actions;
  }

  &__reports {
    grid-area: Reports;
  }

  &__info {
    grid-area: Info;
  }
}
