.card {
  height: 100%;
  padding: 0 20px 20px 20px;

  background-color: var(--dark-color-card);
  border: 1px solid var(--dark-color-action);
  border-radius: 10px;

  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    display: none;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    
    position: sticky;
    padding: 20px 0;
    top: 0;


    color: var(--light-color);
    background-color: var(--dark-color-card);
  }
}